doctype html
html
  head
    title JUmBLe!
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css')
    link(href="style.css" rel="stylesheet")
  body
    div.head
      h1.reset.header JUmBLe!
      h3.header Type a letter to start building a word
      button.reset NEW GAME

    div.center-text#message-header

    div.center-text-border
      p#ghost-val

    div.center-text
      p THE RULES:
      p
      p Any letter you play must be building towards a word
      p If a player adds a letter that finishes a word, that player loses
      p To play a letter, press it on your keyboard

    br
    div
      span DIFFICULTY: 
      form.unbeatable
        input(type="radio" name="which-player" id="input-player2" value="player2" checked) 
        label(for="input-player2") Medium
        input(type="radio" name="which-player" id="input-unbeatable" value="unbeatable") 
        label(for="input-unbeatable") Hard
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="listener.js")
  script(src="requests.js")
  script(src="page.js")
  script(src="player2.js")
  script(src="unbeatable.js")
