doctype html
html
  head
    title JUmBLe!
  body
    h1 JUmBLe!
    h3 You are playing as player1
    h3 Press a letter to start building a word

    p#ghost-val
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="requests.js")
  script(src="page.js")
  script(src="player2.js")
  script(src="listener.js")